.mainContainer{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: flex-end;

    z-index: 1000;
    overflow: hidden;
}

.pupupContainer{
    width:100%;
    height:30rem;

    background:#fff;

    padding:1rem;

    border-radius:1rem 1rem 0 0;

    touch-action:none;
    will-change:transform;
}

.ustTabContainer{
    display:flex;
    justify-content:center;
    margin-bottom:1rem;
}

.ustTab{
    width:5rem;
    height:.35rem;

    background:#bdbdbd;

    border-radius:999px;
}

.title{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.infoContainer{
    display:flex;
    flex-direction: column;
    gap:1rem;

    padding:1rem;

    border:.08rem solid #d1d5db;
    border-radius: 0.5rem;
}

.infoTitle{
    font-size:0.9rem;
    font-weight: 500;
}
.infoText{
    font-size:0.9rem;
    color: #4B5563;
}

.tarihlerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin: 2rem 0 1rem;

    padding: 0.75rem 1rem;
    background: #1D64F2;
    color: #fff;
    border-radius: 0.5rem;
    text-decoration: none;
    box-sizing: border-box;
}

.deleteButton{
    margin: 1rem 0;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #DC2626;
    padding: 0.75rem 1rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;
}
